<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Potifólio</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/style-incon.css" />
    <link rel="stylesheet" href="../assets/css/style-projetos.css" />
  </head>
  <body>

  <nav class="nav">
    <div class="wrapper site-nav__wrapper">
      <h1 class="portifolio">Portifólio</h1>
      <nav class="navParent">
        <ul class="navChildren"><!--  -->
          <li class="navItem"><a href="#">Sobre mim</a></li>
          <li class="navItem"><a href="#">Projetos</a></li>
          <li class="navItem"><a href="#">Serviços</a></li>
          <li class="navItem"><a href="#">Minhas skills</a></li>
        </ul>
      </nav>
    </div>
  </nav>

  <header >
    <section id="nome">
    <h1>Olá, eu sou Danusa Jesus :)</h1>
    <p>Desenvolvedora Front-End & UI Designer</p>
  
  </section>

    <img src="../assets/icons/img.png">

<section -d="buttons"> 

  <a class="buttonCurriculo" href="#" download="currículo">
    Meu currículo
  </a>

  <a class="buttonContato" href="mailto:dansiljer@hotmail.com" download="currículo">
    Entre em contato
  </a>


</section>
  
  </header>

  <main>
    <section id="sobre">
      <h2>Sobre mim</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit,
        consequuntur quasi obcaecati laborum asperiores fugit sed! Repudiandae
        minus dolores enim fuga libero voluptate facilis blanditiis labore
        commodi, iste doloremque modi?
      </p>
    </section>

    <section>

      <article>
        <figure>
          <image class="inconSmiles" src="../assets/icons/smile.png" alt="Meu nome"></image>
          <figcaption id="meuNome">Meu nome</figcaption>
          <figcaption id="meuNome2">Danusa Jesus</figcaption>
        </figure>
        <figure>
          <image class="inconEmail" src="../assets/icons/mail.png" alt="email">
            <figcaption id="email">E-mail</figcaption>
            <figcaption id="email2">dansiljer@hotmail.com</figcaption>
        </figure>

        <figure>
          <image class="inconSocial" src="../assets/icons/instagram.png" alt="Instagram">
            <figcaption id="social">Instagram</figcaption>
            <figcaption id="social2">@danusajesus</figcaption>

        </figure>
        
        <figure>
          <image class="inconTelefone" src="../assets/icons/telefone.png" alt="telefone">
            <figcaption id="telefone">Telefone</figcaption>
            <figcaption id="telefone2">(41)9.9797-3660)</figcaption>
        </figure>
       
      </article>

      <article id="projetos">
            <h2>Projetos</h2>

            <div class="card"></div>
            <img class="imgCard" src="../assets/img/humor.png">

      </article>


      <article id="serviços">
        <h2>Serviços</h2>
      </article>

      <article id="minhasSkills">
        <h2>Minhas skills</h2>
      </article>
  
  </main>
 
  <footer>
    <p>Orgulhosamente feito por Danusa Jesus</p>
  </footer>

</body>

</html>


<link rel="stylesheet" href="./assets/js/script.js" />
